       body {
           height: 100vh;
           width: 100vw;
           box-sizing: border-box;
           margin: 0;
           padding: 0;
           background-color: rgb(80, 80, 91);
       }

       h1 {
           display: inline-block;
           align-items: center;
           justify-content: center;
           display: flex;
           font-size: 100px;
           font-family: "Lora", serif;
           color: rgb(216, 216, 228);
           text-shadow: 3px 0 rgb(184, 56, 77);
       }

       footer {
           font-family: "Lora", serif;
           color: #DBEDF3;
           display: flex;
           justify-content: center;
           align-items: center;
       }

       .drum {
           display: inline-block;
           height: 150px;
           width: 150px;
           align-items: center;
           text-align: center;
           color: rgb(207, 26, 56);
           /* justify-content: center; */
           justify-items: center;
           border: 10px solid rgb(46, 46, 64);
           margin: 30px;
           /* margin-left: 50px; */
           text-shadow: 3px 0 #9e999c;
           font-size: 80px;
           line-height: 2;
           font-family: "Lora", serif;
           outline: none;
           border-radius: 15px;
           background-color: rgb(255, 255, 255);

       }

       button:hover {
           height: 140px;
           width: 140px;
           transition-duration: 0.2s;
           box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
       }

       .w {
           background-image: url("images/tom1.png ");
       }

       .a {
           background-image: url("images/tom2.png");
       }

       .s {
           background-image: url("images/tom3.png");
       }

       .d {
           background-image: url("images/tom4.png");
       }

       .j {
           background-image: url("images/snare.png");
       }

       .k {
           background-image: url("images/crash.png");
       }

       .l {
           background-image: url("images/kick.png");
       }